body{
    overflow-x: hidden;
}
.footer-link {
    text-decoration: none;
    position: relative;
    transition: color 0.3s;
}
.footer-link:hover {
    color: #7c4dff;
    cursor: pointer;
}

/* Progress bar hover effect on links */
.footer-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #7c4dff;
    transition: width 0.3s;
}
.footer-link:hover::after {
    width: 100%;
}

.social-icon {
    position: relative; /* Position for pseudo-element */
    display: inline-block; /* Necessary for scaling */
    text-decoration: none; /* Remove underline */
    color: white; /* Default icon color */
    transition: transform 0.3s ease, color 0.3s ease; /* Smooth transition for scaling and color */
}

.social-icon::after {
    content: ''; /* Create a pseudo-element */
    position: absolute; /* Position it absolutely */
    top: 0; /* Align it with the icon */
    left: 0; /* Align it with the icon */
    right: 0; /* Align it with the icon */
    bottom: 0; /* Align it with the icon */
    background-color: rgba(124, 77, 255, 0.5); /* Purple fill color */
    opacity: 0; /* Start invisible */
    transition: opacity 0.3s ease; /* Smooth transition for opacity */
    border-radius: 50%; /* Make it circular */
    z-index: 0; /* Send it behind the icon */
}

.social-icon:hover {
    transform: translateY(-5px); /* Move up slightly on hover */
    cursor: pointer;
}



@media (max-width: 576px) {
    .footer-link {
        display: block; /* Stack links vertically on small screens */
        margin: 5px 0; /* Add margin for spacing */
    }

    .social-icon {
        margin: 0 5px; /* Adjust margin for smaller screens */
    }
    .footer-link::after {
        left: 50%; /* Start from the center */
        transform: translateX(-50%); /* Center the progress bar */
    }

    .footer-link:hover::after {
        width: 30%; /* Smaller width for hover effect on smaller screens */
        transform: translateX(-50%); /* Keep it centered */
    }

    .text-center {
        text-align: center; /* Ensure text alignment remains centered */
    }
}


.btn-feedback {
    position: relative;
    padding: 10px 20px;
    background-color: transparent;
    color: #fff;
    border: 2px solid #7c4dff;
    border-radius: 5px;
    font-size: 16px;
    overflow: hidden;
    cursor: pointer;
    transition: color 0.4s ease;
}

.btn-feedback:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #7c4dff;
    transform: translateY(-50%) translateX(-100%);
    transition: transform 0.4s ease;
    z-index: 0;
}

.btn-feedback:hover {
    color: #1c2331; /* Text color changes on hover */
}

.btn-feedback:hover:before {
    transform: translateY(-50%) translateX(0); /* Fill effect on hover */
}

.btn-feedback span {
    position: relative;
    z-index: 1; /* Ensures the text is above the fill effect */
}
