<!-- views/partials/spinner.ejs -->
<div id="loadingSpinner" class="spinner-overlay">
  <div class="loader-glass-panel">
    <div class="book-loader">
      <i class="fas fa-book-open text-primary book-icon"></i>
      <div class="page-flip"></div>
    </div>
    <div class="loading-text">
      Curating Stories<span class="dot-1">.</span><span class="dot-2">.</span><span class="dot-3">.</span>
    </div>
  </div>
</div>